* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.loginContainer {
  position: absolute;
  color: white;
  z-index: 100;
  width: 300px;
  height: 500px;
}
